body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgoldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notePadArea {
  min-height: 100vh;
  width: 100vw;
  background-color: #474747;
  position: relative;
}
.loadingScreenContainer {
  position: fixed;
  z-index: 5;
  display: none;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.loadingAnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}
.loadingAnimation {
  height: 200px;
  width: 200px;
}
.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  padding: 25px;
}
.IntroTitle {
  font-weight: bold;
  font-size: 40px;
}
.IntroBy {
  padding-top: 20px;
  font-weight: 300;
  font-size: 16px;
}
.linksContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.linksContainer > div {
  text-align: center;
}
.saveFailedBox {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgb(54, 54, 54);
  opacity: 0.8;
}
.saveFailedContainer {
  width: 300px;
  min-height: 150px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.saveFailedText {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.saveFailedOKButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveFailedOKButton > div {
  width: 50px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.saveFailedOKButton:hover > div {
  background-color: rgb(22, 76, 253);
  cursor: pointer;
  transition: all 0.5s;
}
.checker {
  display: none;
  height: 75px;
  padding-bottom: 10px;
  align-items: center;
}
.links {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 50px;
}
.links > div {
  color: coral;
}
.links > a > img {
  width: 30px;
  height: 30px;
}
.visibility {
  display: flex;
}
@media screen and (max-height: 650px) {
  .loadingAnimationContainer {
    transform: scale(0.8);
  }
}
@media screen and (max-height: 450px) {
  .loadingAnimationContainer {
    transform: scale(0.6);
  }
}
@media screen and (max-height: 350px) {
  .loadingAnimationContainer {
    transform: scale(0.4);
  }
}
