body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgoldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notePadArea {
  min-height: 100vh;
  width: 100vw;
  background-color: #474747;
  position: relative;
}
.loadingAnimationContainer {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.visibility {
  display: flex;
}
