body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgoldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notePadArea {
  min-height: 100vh;
  width: 100vw;
  background-color: #474747;
  position: relative;
}
.loadingAnimationContainer {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
.loadingAnimation {
  height: 200px;
  width: 200px;
}
.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  padding: 30px;
}
.IntroTitle {
  font-weight: bold;
  font-size: 40px;
}
.IntroBy {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  top: 20px;
}
.linksContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 30px;
}
.linksContainer > div {
  text-align: center;
}
.visibility {
  display: flex;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.links > div {
  color: coral;
}
.links > a > img {
  width: 30px;
  height: 30px;
}
